In [1]:
print("Furkan Pilge")

Furkan Pilge

In [2]:
x = 6

In [3]:
print(x)

6

In [4]:
print(type(x))

<class 'int'>

In [5]:
my_cat = 'kedi'
print(my_cat)

kedi

In [6]:
print(type(my_cat))

<class 'str'>

In [8]:
countries = ['Poland','Turkey','Uganda','Zimbaba']

In [9]:
for c in countries:
    print(c)

Poland
Turkey
Uganda
Zimbaba

In [13]:
country = 'Poland'
if country == 'Poland':
    print('that is my poland')

that is my poland

In [14]:
student ={
    'name': 'Furkan',
    'index_number':'35540'
}

In [15]:
print('my name is',student['name'])

my name is Furkan

In [17]:
for c in countries:
    print(c)
    if c == 'Poland':
        print('that is my Poland')

Poland
that is my Poland
Turkey
Uganda
Zimbaba

In [21]:
class Student:
    def __init__(self,name,index_number):
        self.name = name
        self.index_number = index_number

In [22]:
student1 =Student('Furkan','35540')
student2 =Student('Furkan','35540')
student3 =Student('Furkan','35540')

In [23]:
print(student1.name,student1.index_number)
print(student2.name,student2.index_number)
print(student3.name,student3.index_number)

Furkan 35540
Furkan 35540
Furkan 35540